body {
    background-color: rgb(218, 216, 216);
    margin: 5px 400px 30px 400px;
    

}

  .container {
    font-size: 19px;
   font-family: georgia;
   background-color: rgb(238, 236, 236);
   padding:15px 30px 10px 30px;

}

h1 {
    color:#5370b4;
   text-align: center;
   font-size: 30px;
   
}

h2 {
    color:#384f85; 
   font-size: 25px;
   font-family: georgia;
}

h3 {
    font-size: 22px;
}

ruby {
    color:#aa2e25;}
  
 a {
        background-color:#6b7bd6;
        font-size: 19px;
        text-decoration: none;
        color: rgb(219, 216, 216);
        border: 2px solid rgb(82, 81, 163);
        border-radius:15px;
        padding: 6px;
    }

   
p {
    border:5px;
}
