h1 {
    color:#5370b4;
   text-align: center;
   font-size: 30px;
}


h2 {
    color:#384f85;
   
    background-color: rgb(219, 215, 219);
       
   font-size: 25px;
  
   font-family: georgia;
}

h3 {
    font-size: 22px;
}

div {
    background-color: rgb(219, 215, 219);
    font-size: 19px;
   font-family: georgia;
}

ruby {
    color:#aa2e25;}
  

 a {
        font-size: 19px;
        text-decoration: none;
    }
